{# @var \Umanit\BlockCollectionBundle\Entity\Block\ImagesList block #}
<ul>
  {# @var \Umanit\BlockCollectionBundle\Entity\Block\ImagesListImage image #}
  {% for path in block.images %}
    <li>
      <img src="{{ path }}" alt="" />
    </li>
  {% endfor %}
</ul>
