.umanit-block-collection-bundle-modal {
    position: fixed;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    overflow: hidden;
    transition: opacity linear 200ms, top linear 200ms;
}

.umanit-block-collection-bundle-modal.active {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: initial;
    padding: 40px;
    margin: auto;
    clip-path: initial;
    overflow: initial;
    opacity: 1;
    visibility: visible;
    z-index: 150;
    background: white;
    color: black;
}

@media screen and (min-width: 768px) {
    .umanit-block-collection-bundle-modal.active {
        width: 78vw;
        max-height: 90%;
    }
}

.umanit-block-collection-bundle-modal__header {
    height: 60px;
}

.umanit-block-collection-bundle-modal__content {
    height: calc(100% - 160px);
    overflow: scroll;
}

.umanit-block-collection-bundle-modal__footer {
    height: 100px;
}

.umanit-block-collection-bundle-modal__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.umanit-block-collection-bundle-modal__btn-close::before,
.umanit-block-collection-bundle-modal__btn-close::after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 0.5px);
    width: 15px;
    height: 1px;
    background: #000;
}

.umanit-block-collection-bundle-modal__btn-close::before {
    transform: rotate(45deg);
}

.umanit-block-collection-bundle-modal__btn-close::after {
    transform: rotate(-45deg);
}

.umanit-block-collection-bundle-modal__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.umanit-block-collection-bundle-modal__btn {
    display: inline-block;
    width: 50%;
    max-width: 200px;
    padding: 15px;
    margin-top: 50px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    margin-right: 50px;
    cursor: pointer;
}

.umanit-block-collection-bundle-modal__btn:last-of-type {
    margin-right: 0;
}

.umanit-block-collection-bundle-modal-overlay {
    display: none;
    z-index: 145;
}

.umanit-block-collection-bundle-modal-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
